/* 这是你的自定义 CSS 样式。 */

/* 自定义字体定义 */
@font-face {
    font-family: 'green bird';
    src: url('../../../../source/font/green bird.ttf');
}

/* 使用自定义字体的 CSS 类 */
.diyFont {
    font-family: 'green bird';
}