/* 这是你的自定义 CSS 样式。 */

/* 自定义字体定义 */
@font-face {
    font-family: 'green bird';
    src: url('../../../../source/font/green bird.ttf');
}

/* 使用自定义字体的 CSS 类 */
.diyFont {
    font-family: 'green bird';
}

/* 修改首页轮播的标题大小 */
@media only screen and (max-width: 601px) {
    .bg-cover .title {
        font-size: 2.5rem;
    }
}

/* 修改博客标题的字体大小 */
@media only screen and (max-width: 601px) {
    header .brand-logo .logo-span {
        font-size: 1.5rem;
    }
}